html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 10px;
  background-color: #175CD3;
  position: fixed;
  bottom: 0
}

.line {
    background-color: white;
    width: 60px;
    border-radius: 10px;
    display: inline-block;
    height: 6px;
    margin-top: -4px;
}


.mind-connect {
  width: 91%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mindconnect-title {
  color: white;
  font-size: 30px;
  padding-bottom: 10px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sub {
  color: white;
}

.text {
  font-size: 15px;
}

.icon-real {
  display: flex;
  justify-content: space-around;
}

.social-media {
  color: white;
  font-size: 7px;
}