html, body {
    margin: 0;
    padding: 0
  }
  
  .landingpagefourtitle {
    text-align: center;
  }
  
  .lpfourcontainer {
    width: 100%;
    padding: 50px;
   background-color: #f2f4f7;;
  }
  
  .landingpagefourparagraph {
    width: 68%;
    margin: 0 auto;
  }
  
  .p-landingpage4 {
    text-align: center;
    font-size: 16px;
  }
  
  .landingpagefourbutton {
    display: flex;
    justify-content: center;
  }
  