.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  background-color: rgb(208, 226, 232);
}

.left-subsection {
  flex: 1;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.left-subsection img {
  max-width: 100%;
  height: auto;
  border-radius: 17px;
  object-fit: cover;
}

.right-subsection {
  flex: 1;
  text-align: center;
  padding: 0px 40px;
}

.right-subsection h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}

.right-subsection p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  font-size: 20px;
  max-width: 100%;
  margin: 0;
  padding: 20px 40px 20px;
  color: rgb(58, 57, 57);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-subsection {
    margin-right: 0;
  }

  .right-subsection {
    padding: 20px;
  }
}
