@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
body{
    overflow: hidden;
}

.reset-password-main * {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

.reset-password-main .reset-heading {
  font-weight: 700;
  color: #012a4a;
  align-self: center;
  padding: 1rem;
}

.reset-password-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.reset-password-main .reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  position: absolute;
  width: 30rem;
  height: 25rem;
  background: #ffffff;
  border: 1px solid #eaebec;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
}

.reset-password-main .reset-form {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 2rem;
}

.reset-password-main .reset-main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.reset-password-main .input-container input[type="password"] {
  padding-right: 2rem;
}

.reset-password-main .icon {
  position: absolute;
  color: rgb(87, 87, 87);
  margin: 1rem;
}

.reset-password-main .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  width: 24rem;
  height: 2.75rem;
  background: #ffffff;
}

.reset-password-main input {
  width: 100%;
  height: 3rem;
  border: 1px solid #98a2b3;
  padding-left: 2.5rem;
  font-size: 400;
  border-radius: 6px;
}

.reset-password-main button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .75rem 1rem;
  gap: .5rem;
  width: 24rem;
  height: 2.8rem;
  background: #175cd3;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.reset-password-main label {
  color: #012a4a;
  padding-top: 1rem;
}

.forgot-content{
    font-weight: 400;
    font-size: .85rem
}
.backtologin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  color: #175cd3;
  cursor: pointer;
}

.success-main{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
}
.success-content{
    background-color: #ffffff;
    padding: 20px 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.success-content :nth-child(n+2){
    margin-bottom: 20px;
}


.success-icon {
    color:#34A853;
    font-size: 2.5rem;
}
.success-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .75rem 1rem;
  gap: .5rem;
  width: 24rem;
  height: 2.8rem;
  background: #175cd3;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.otp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
    gap: .5rem;
    position: absolute;
    width: 30rem;
    height: 25rem;
}
.otp .resend {
    color: #175cd3;
    cursor: pointer;
}
.otp .number-div{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.otp .single-number{
    border: 1px solid #000000;
    display: inline-block;
    font-size: 20px;
    max-width: 50px;
    padding: 15px;
    border-radius: 5px;
    margin-right: 15px;
}

.otp button {
    cursor: pointer;

}

.otp input::-webkit-outer-spin-button,
.otp input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp input[type=number] {
  -moz-appearance: textfield;
}