@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
body{
    overflow: hidden;
}

.reset-password-main * {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

.reset-password-main .reset-heading {
  font-weight: 700;
  color: #012a4a;
  align-self: center;
  padding: .5rem;
}

.reset-password-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.reset-password-main .reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  /* gap: 2.5rem; */
  position: absolute;
  width: 30rem;
  height: 25rem;
  background: #ffffff;
  border: 1px solid #eaebec;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
}

.reset-password-main .reset-form {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 2rem;
}

.reset-password-main .reset-main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.reset-password-main .input-container input[type="password"] {
  padding-right: 2rem;
}
/* .input-container input[placeholder=""] */

.reset-password-main .icon {
  position: absolute;
  color: rgb(87, 87, 87);
  margin: 1rem;
}

.reset-password-main .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  width: 24rem;
  height: 2.75rem;
  background: #ffffff;
}

.reset-password-main input {
  width: 100%;
  height: 3rem;
  border: 1px solid #98a2b3;
  padding-left: 2.5rem;
  font-size: 400;
  border-radius: 6px;
}

.reset-password-main button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .75rem 1rem;
  gap: .5rem;
  width: 24rem;
  height: 2.8rem;
  background: #175cd3;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.reset-password-main label {
  color: #012a4a;
  padding-top: 1rem;
}
